/*****************************************************
* CSS Mockup Activity - Custom CSS Stylesheet
* @author rlewis37
*
* Some rules have been included here to give you a head start.
* Create your own custom CSS rules below. Have fun!
******************************************************/
html, body {
	background-color: black;
	font-family: ocr-a-std, monospace;
	font-style: normal;
	font-weight: 400;
	margin: 0;
	box-sizing: border-box;
}

.container {
	margin:  0 auto;
	padding: 0 2rem;
}

.clearfix {
	clear: both;
}

/* create a responsive container */
@media only screen and (min-width: 1200px) {
	.container { width: 1170px; }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
	.container { width: 970px; }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
	.container { width: 750px; }
}

/*****************************************************
* Flexbox Sticky Footer
* http://philipwalton.github.io/solved-by-flexbox/demos/sticky-footer/
******************************************************/

/*corrects IE min-height bug*/
html { display: flex;}
body { width: 100%;}

.sfooter {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.sfooter-content {
	flex: 1 0 auto;
}

/*****************************************************
* ADD YOUR OWN CSS BELOW! (ﾉ◕ヮ◕)ﾉ*:･ﾟ✧
*
* HINT: You might want to be conversant with the following:
* * Shorthand syntax for padding, margin, and borders
* * Display property and values... and the differences between them.
* * The Box Model
* * Pseudo Classes
* * Attribute Selectors
******************************************************/


h1 {
	margin-top: 0;
	padding: 0;
	color: lime;
}

#tableH2 {
	text-align: right;
}

header {
	background-color: #333333;
}

#header {
	position: relative;
	top: 25px;
}

#centerAndPadding {
	padding: 40px;
	position: relative;
}

#imgcaptain {
	float: right;
	width: 200px;
	height: 150px;
	margin: 10px;
}

.instructions-content {
	border-style: solid;
	border-color: black;
	position: relative;
	right: 15%;
	padding: 20px;
}

#aDayFontcolor {
	color: white;
	background-color: blue;
	padding: 2%;
	border: 0;
}

#imgStunning {
	Float: left;;
	width: 300px;
	height: 200px;
	margin: 10px
}

#em {
	color: lime;
	position: relative;
	bottom: 25px;
	left: 30%;
}

table {
	position: relative;
	right: 20%;
	border-collapse: collapse;
}

h2 {
	font-weight: bold;
}

td {
	margin: 5px;
	padding: 5px;
}

 td, th, tr {
	position: relative;
	left: 25px;
	font-size: 12px;
	color: lime;
	border: 1px solid white;
	background-color: #333333;
	width: 800px;
	height: 25px;
}

 #contactFormBackground{
	 padding: 50px;
	 background-color: #333333;
 }

.form-wrapper {
	color: lime;
	width: 50%;
	border: 0 solid #ccc;
	background: green;
	margin: 8px 0;
	padding: 12px 12px;
}

#divMargin {
	position: relative;
	left: 25%;
	margin: 40px;
}

#footerFontColor {
	color: white;
}

#divBackgroundColor {
	padding: 30px;
	background-color: white;
}

#aboutMeBackgroundColor {
	background-color: blue;
}

button {
	border: 0;
	background-color: lime;
	font-weight: bold;
	padding-left: 50px;
	padding-right: 50px;
	padding-top: 10px;
	padding-bottom: 10px;
}

#centerForm {
	position: relative;
	left: 15%;
}

#centerFooter {
	position: relative;
	left: 25%;
}